@font-face {
  font-family: "futurabold";
  src: url("./sass/fonts/futura_bold_font-webfont.woff2") format("woff2"),
    url("./sass/fonts/futura_bold_font-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "futurabold_italic";
  src: url("./sass/fonts/futura_bold_italic_font-webfont.woff2") format("woff2"),
    url("./sass/fonts/futura_bold_italic_font-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "futurabook";
  src: url("./sass/fonts/futura_book_font-webfont.woff2") format("woff2"),
    url("./sass/fonts/futura_book_font-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "futurabook_italic";
  src: url("./sass/fonts/futura_book_italic_font-webfont.woff2") format("woff2"),
    url("./sass/fonts/futura_book_italic_font-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "futuraextra_black";
  src: url("./sass/fonts/futura_extra_black_font-webfont.woff2") format("woff2"),
    url("./sass/fonts/futura_extra_black_font-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "futuraheavy";
  src: url("./sass/fonts/futura_heavy_font-webfont.woff2") format("woff2"),
    url("./sass/fonts/futura_heavy_font-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "futuraheavy_italic";
  src: url("./sass/fonts/futura_heavy_italic_font-webfont.woff2")
      format("woff2"),
    url("./sass/fonts/futura_heavy_italic_font-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "futuralight";
  src: url("./sass/fonts/futura_light_bt-webfont.woff2") format("woff2"),
    url("./sass/fonts/futura_light_bt-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "futuralight";
  src: url("./sass/fonts/futura_light_font-webfont.woff2") format("woff2"),
    url("./sass/fonts/futura_light_font-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "futuralight_italic";
  src: url("./sass/fonts/futura_light_italic_font-webfont.woff2")
      format("woff2"),
    url("./sass/fonts/futura_light_italic_font-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "futuramedium";
  src: url("./sass/fonts/futura_medium_bt-webfont.woff2") format("woff2"),
    url("./sass/fonts/futura_medium_bt-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "futuramedium";
  src: url("./sass/fonts/futura_medium_condensed_bt-webfont.woff2")
      format("woff2"),
    url("./sass/fonts/futura_medium_condensed_bt-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

$primary: #ffffff;
$secondary: #043353;
$content: #7de89d;

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  max-width: 100%;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  padding: 10px 50px;
}

.App {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.preloader {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background-color: $primary;
  position: relative;

  .svg-loader {
    position: absolute;
    height: 300px;
    width: 300px;
    top: 200px;
    fill: $secondary;
  }
  .conversesvg {
    height: 300px;
    width: 700px;
    top: 250px;
  }
  .newbalance-main {
    width: 400px;
  }
  .reebok-main {
    width: 400px;
    .cls-1 {
      stroke: $primary;
      stroke-miterlimit: 10;
      stroke-width: 0.09px;
      fill-rule: evenodd;
    }
  }
  .adidas {
    margin-right: 20px;
  }

  .lottie {
    margin-bottom: 220px;
  }
  .brand-name {
    width: auto;
    height: 100px;
    font-family: "futurabold_italic";
    font-size: 100px;
    top: 350px;
    text-decoration: none;
    color: $content;
    span {
      font-family: "futuraextra_black";
      color: $secondary;
      margin-right: 10px;
    }
  }
}
