$primary: #ffffff;
$secondary: #043353;
$secondary-light: #383c58;
$content: #7de89d;
$text: #b3c0cc;

.main-content {
  width: 100%;
  height: 100%;

  .container {
    height: auto;
    padding: 40px 120px;
    padding-bottom: 0px;

    .trending {
      font-weight: 900;
      font-size: 1.2em;
      width: 100%;
      margin: 20px 0px;
      color: $secondary;
    }

    .grid-main {
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 20px;
      row-gap: 20px;

      .box {
        padding: 20px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 600px;
        font-size: 50px;
        @media screen and (max-width: 2150px) {
          height: 450px;
          font-size: 40px;
        }
        @media screen and (max-width: 1800px) {
          font-size: 38px;
          height: 450px;
        }
        @media screen and (max-width: 1400px) {
          font-size: 36px;
          height: 400px;
        }
        @media screen and (max-width: 1200px) {
          font-size: 33px;
          height: 350px;
        }
        @media screen and (max-width: 1050px) {
          font-size: 28px;
          height: 300px;
        }
        @media screen and (max-width: 992px) {
          font-size: 35px;
          height: 450px;
        }
        @media screen and (max-width: 850px) {
          font-size: 30px;
          height: 350px;
        }
        @media screen and (max-width: 768px) {
          font-size: 45px;
          height: 550px;
        }
        @media screen and (max-width: 650px) {
          font-size: 40px;
          height: 450px;
        }
        @media screen and (max-width: 500px) {
          height: 350px;
          font-size: 30px;
        }
        @media screen and (max-width: 400px) {
          height: 350px;
          font-size: 28px;
        }
        @media screen and (max-width: 300px) {
          height: 350px;
          font-size: 25px;
        }
      }
      @media screen and (max-width: 1900px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      @media screen and (max-width: 1700px) {
        grid-template-columns: 1fr 1fr 1fr;
      }
      @media screen and (max-width: 992px) {
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        row-gap: 0px;
      }
      @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        padding: 0px 90px;
      }
      @media screen and (max-width: 668px) {
        grid-template-columns: 1fr;
        padding: 0px 50px;
      }
      @media screen and (max-width: 576px) {
        padding: 0px 20px;
      }
      @media screen and (max-width: 428px) {
        padding: 0px 10px;
      }
      @media screen and (max-width: 324px) {
        padding: 0px 10px;
      }
    }

    .pagination {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0.8rem;
      margin-bottom: 0.8rem;

      .page-btn {
        outline: none;
        border: none;
        height: 1.5rem;
        width: 1.5rem;
        font-size: 0.5rem;
        background-color: $secondary;
        color: $primary;
        font-weight: 600;
        margin: 0px 0.2rem;
        border-radius: 0.4rem;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        &:hover {
          background-color: $content;
        }
      }
      .next {
        font-size: 1.5rem;
        color: $secondary;
        cursor: pointer;
        margin-left: 0.5rem;
        &:hover {
          color: $content;
        }
      }
      .previous {
        font-size: 1.5rem;
        color: $secondary;
        cursor: pointer;
        margin-right: 0.5rem;
        &:hover {
          color: $content;
        }
      }
      .current {
        height: 2rem;
        width: 2rem;
        display: flex;
        font-size: 0.6rem;
        align-items: center;
        justify-content: center;
        font-weight: 900;
        background-color: $content;
        color: $secondary;
        cursor: auto;
      }
      .max {
        height: 1.2rem;
        width: 1.2rem;
        font-size: 0.4rem;
      }
    }

    @media screen and (max-width: 1900px) {
      padding: 40px 100px;
    }
    @media screen and (max-width: 1200px) {
      padding: 40px 80px;
    }
    @media screen and (max-width: 992px) {
      padding: 40px 60px;
    }
    @media screen and (max-width: 768px) {
      padding: 40px 40px;
    }
    @media screen and (max-width: 576px) {
      padding: 40px 60px;
    }
    @media screen and (max-width: 428px) {
      padding: 40px 20px;
    }
  }
}
