$primary: #ffffff;
$secondary: #043353;
$secondary-light: #383c58;
$content: #7de89d;
$text: #b3c0cc;

.footer {
  height: 150px;
  width: 100%;
  background-color: $secondary;
  margin-top: auto;

  .container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 50px;
    .info-box-footer {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      text-align: center;
      .hype-name {
        font-family: "futurabold_italic";
        font-size: 1rem;
        text-decoration: none;
        color: $content;
        span {
          font-family: "futuraextra_black";
          color: $primary;
          margin-right: 2px;
        }
      }
      .about-hypekicks {
        font-size: 0.4rem;
        font-weight: 700;
        color: $text;
      }
    }
  }
}
