$primary: #ffffff;
$secondary: #043353;
$secondary-light: #383c58;
$content: #7de89d;
$text: #b3c0cc;

.main-nav {
  width: 100%;
  max-width: 100%;
  height: 100px;
  position: absolute;
  background-color: $secondary;
  z-index: 10;
  display: block;

  .container {
    .navbar {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      .brand-name {
        font-family: "futurabold_italic";
        font-size: 30px;
        margin-right: auto;
        text-decoration: none;
        color: $content;
        width: 200px;
        span {
          font-family: "futuraextra_black";
          color: $primary;
          margin-right: 2 px;
        }
      }

      .nav-items {
        height: 100%;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $primary;

        .nav-item {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100px;
          height: 100%;
          font-weight: 600;
          font-size: 20px;
          margin-right: 20px;
          &:last-child {
            margin-right: 0px;
          }
          i {
            margin-left: 5px;
            color: $content;
          }
          .down {
            margin-left: 7px;
            margin-top: 3px;
            font-size: 26px;
          }

          a {
            text-decoration: none;
            color: $primary;
          }
        }
        .brand {
          cursor: pointer;
        }
        .pricing {
          cursor: pointer;
        }
      }

      .profile-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        height: 100%;
        width: 200px;
        cursor: pointer;
        .profile-pic {
          height: 50px;
          width: 50px;
          background-color: $content;
          border-radius: 50%;
          margin-right: 12px;
          box-shadow: 0 0 0 3.5pt #7de89da9;
          transition: 200ms ease-in;

          .profilepic {
            height: 100%;
            width: 100%;
            border-radius: 50%;
          }
        }
        .user-fname {
          font-size: 20px;
          font-weight: 700;
          color: $primary;
        }

        .sign-in {
          text-decoration: none;
          height: 60%;
          width: 100px;
          color: $secondary;
          font-weight: 500;
          font-size: 17px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .sign-up {
          text-decoration: none;
          height: 60%;
          width: 100px;
          color: $primary;
          font-weight: 700;
          font-size: 17px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $content;
          border-radius: 12px;
          transition: 200ms ease-in-out;

          &:hover {
            transform: scale(1.04);
          }
        }
      }
    }
    .profile-nav-dropdown {
      position: fixed;
      right: 20px;
      top: 90px;
      height: 350px;
      width: 250px;
      background-color: $primary;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      border-radius: 20px;
      border: 1px solid $secondary;
      transition: 200ms ease-in-out;
      z-index: 11;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);

      .navbar-profile {
        height: 100%;
        width: 100%;
        .nav-items-profile {
          list-style: none;
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          .nav-item-profile {
            width: 100%;
            height: 100%;
            margin-bottom: 10px;
            border-radius: 8px;
            transition: 200ms ease-in;

            &:hover {
              background-color: #7de89d8f;
            }
            .link-profile {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              text-decoration: none;
              width: 100%;
              height: 100%;
              padding: 10px;
              color: $secondary;
              font-weight: 700;
              i {
                font-size: 20px;
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }

  .brand-drop {
    height: 200px;
    width: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: $secondary;
    border-bottom: 1px solid black;
    transition: 200ms ease-in-out;
    .container {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        width: 150px;
        height: 150px;
        margin-right: 80px;
        svg {
          width: 100%;
          height: 100%;
          fill: $primary;
        }
        .converse {
          .cls-1 {
            fill: $secondary;
          }
          .cls-1,
          .cls-2 {
            fill-rule: evenodd;
          }
        }
        .reebok {
          .cls-1 {
            stroke: #141715;
            stroke-miterlimit: 10;
            stroke-width: 0.09px;
            fill-rule: evenodd;
          }
        }
        .newbalance {
          .cls-1 {
            fill-rule: evenodd;
          }
        }
        &:hover {
          svg {
            fill: $content;
            transform: scale(1.1);
          }
        }
      }
      .nike-logo {
        margin-right: 60px;
      }
      .adidas-logo {
        height: 120px;
        width: 120px;
      }
      .vans-logo {
        height: 120px;
        width: 120px;
      }

      a:last-child {
        margin-right: 10px;
      }
    }
  }

  .pricing-drop {
    height: 200px;
    width: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: $secondary;
    border-bottom: 1px solid black;
    transition: 200ms ease-in-out;
    position: fixed;
    top: 100px;
    .container {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        width: 150px;
        height: 150px;
        margin-right: 80px;
        svg {
          width: 100%;
          height: 100%;
          fill: $primary;
        }

        img {
          width: 100%;
          height: 90%;
        }

        &:hover {
          svg {
            fill: $content;
            transform: scale(1.1);
          }
          img {
            fill: $content;
            transform: scale(1.1);
          }
        }
      }
      a:last-child {
        margin-right: 10px;
      }
    }
  }
}

.mobile {
  display: none;
  .container {
    padding: 5px 5px;
    .navbar {
      .bars {
        text-align: right;
        font-size: 30px;
        color: $primary;
        margin-left: auto;
        cursor: pointer;
        transition: 200ms ease-in-out;
        width: 50px;
        padding-right: 10px;

        &:hover {
          color: $content;
          transform: scale(1.11);
        }
      }

      .brand-name {
        font-size: 25px;
        margin: 0px;
        text-align: center;
      }
      .push {
        width: 50px;
        margin-left: auto;
      }
      .slider-nav {
        z-index: -1;
        position: fixed;
        height: 95%;
        width: 80%;
        top: 0;
        right: 0;
        background-color: $secondary;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22);
        transition: 200ms;

        .mobile-con {
          width: 100%;
          height: 100%;
          padding: 30px;

          .mobile-nav-items {
            height: 100%;
            width: 100%;
            list-style: none;
            transition: 200ms ease-in;
            .mobile-nav-item {
              width: 100%;
              height: 60px;
              margin: 10px 0px;
              overflow: hidden;
              border-radius: 20px;
              transition: 200ms ease-in;

              .mobile-link {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 100%;
                width: 100%;
                color: $primary;
                text-decoration: none;
                font-weight: 800;
                font-size: 18px;
                padding: 10px 30px;

                &:hover {
                  background-color: $content;
                  .converse {
                    .cls-1 {
                      fill: $content;
                    }
                  }
                }
                i {
                  margin-left: auto;
                  font-size: 20px;
                  color: $primary;
                }
                .nav-logo {
                  height: 40px;
                  width: 40px;
                  fill: $primary;
                }
                .converse {
                  height: 65px;
                  width: 65px;
                  .cls-1 {
                    fill: $secondary;
                  }
                  .cls-1,
                  .cls-2 {
                    fill-rule: evenodd;
                  }
                }
                .reebok {
                  height: 65px;
                  width: 65px;
                  .cls-1 {
                    stroke: #141715;
                    stroke-miterlimit: 10;
                    stroke-width: 0.09px;
                    fill-rule: evenodd;
                  }
                }
                .newbalance {
                  height: 55px;
                  width: 55px;
                  .cls-1 {
                    fill-rule: evenodd;
                  }
                }
                .down {
                  font-size: 25px;
                  transition: 200ms ease-in;
                }
              }
            }
            .drop-down {
              margin-right: 30px;
              margin-left: 30px;
              padding: 0px 10px;
              border-radius: 20px;
              transition: 200ms ease-in;
              border-left: 1px solid $text;
              border-radius: 0px;
              .mobile-nav-item {
                .mobile-link {
                  justify-content: center;
                }
              }
            }
          }
        }
      }
    }
  }
}
