$primary: #ffffff;
$secondary: #043353;
$secondary-light: #383c58;
$content: #7de89d;
$text: #b3c0cc;

.main-pricingbox {
  background-color: $primary;
  height: 100%;
  width: 95%;
  border-radius: 7%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  transition: 200ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .shoepic {
    height: 65%;
    width: 100%;
    padding: 10px 85px;
    position: relative;
    background-color: $primary;
    .shoe {
      height: 100%;
      width: 100%;
      user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
    .brand {
      position: absolute;
      height: 20%;
      width: 20%;
      right: 0;
      margin-right: 15px;
      margin-top: 5px;

      img {
        height: 100%;
        width: 100%;
        fill: $secondary;
        user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
      }
    }
  }
  .shoeinfo {
    height: 100%;
    width: 100%;
    background-color: $secondary;
    border-radius: 05 0%;
    padding: 25px 35px;

    .shoe-name {
      color: $text;
      font-size: 18px;
      width: 100%;
      height: 30%;
      margin-bottom: 5px;
    }
    .price-btn {
      width: 100%;
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .price {
        color: $primary;
        font-family: "futurabold_italic";
        font-size: 30px;
        margin-right: 10px;
      }
      .addbtn {
        margin-left: auto;
        height: 50px;
        width: 40%;
        outline: none;
        border: none;
        border-radius: 20px;
        font-weight: 900;
        color: $primary;
        background-color: $content;
        font-size: 17px;
        cursor: pointer;
        transition: 200ms ease-in-out;

        &:hover {
          background-color: $primary;
          color: $secondary;
        }
      }
      .from {
        font-size: 15px;
        color: $text;
        margin-right: 10px;
      }
      .stockX-logo {
        height: 35px;
        fill: $content;
      }
      .goat-logo {
        height: 25px;
        width: 80px;
        fill: $content;
      }
      .flightclub-logo {
        height: 20px;
        width: 80px;
        fill: $content;
      }
      .stadiumgoods-logo {
        height: 40px;
        width: 80px;
        fill: $content;
      }
    }
  }
  &:hover {
    transform: scale(1.02);
  }
}

.main-content-pricing {
  width: 100%;
  height: 100%;

  .push {
    height: auto;
    padding-top: 70px;
    padding-bottom: 40px;
    .search-heading {
      font-weight: 900;
      font-size: 40px;
      margin-bottom: 5px;
      color: $secondary;
      width: 100%;
      text-align: center;
      margin-top: 1rem;
    }

    .search-text {
      font-size: 25px;
      color: $text;
      width: 100%;
      text-align: center;
      margin-bottom: 1rem;
    }
    .trending {
      font-weight: 900;
      font-size: 35px;
      color: $secondary;
    }

    .grid-main-pricing {
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 20px;
      row-gap: 20px;
      padding-top: 30px;
      padding-bottom: 40px;

      .box {
        padding: 20px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 450px;
      }

      @media screen and (max-width: 1264px) {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
    .pagination {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0.8rem;
      margin-bottom: 0.8rem;

      .page-btn {
        outline: none;
        border: none;
        height: 1.4rem;
        width: 1.4rem;
        font-size: 0.5rem;
        background-color: $secondary;
        color: $primary;
        font-weight: 600;
        margin: 0px 0.1rem;
        border-radius: 0.4rem;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        &:hover {
          background-color: $content;
        }
      }
      .next {
        font-size: 1.5rem;
        color: $secondary;
        cursor: pointer;
        margin-left: 0.2rem;
        &:hover {
          color: $content;
        }
      }
      .previous {
        font-size: 1.5rem;
        color: $secondary;
        cursor: pointer;
        margin-right: 0.2rem;
        &:hover {
          color: $content;
        }
      }
      .current {
        height: 1.7rem;
        width: 1.7rem;
        display: flex;
        font-size: 0.6rem;
        align-items: center;
        justify-content: center;
        font-weight: 900;
        background-color: $content;
        color: $secondary;
        cursor: auto;
      }
      .max {
        height: 1.2rem;
        width: 1.2rem;
        font-size: 0.4rem;
      }
    }
  }
}
