$primary: #ffffff;
$secondary: #043353;
$secondary-light: #383c58;
$content: #7de89d;
$text: #b3c0cc;
$red: #e94553;
$error: #ff5655;

.main-profile {
  height: 100%;
  width: 100%;
  .info {
    height: 60%;
    background-color: $secondary;
  }
  .fav {
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    .main-settings {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 50px;

      .settings-text {
        width: 90%;
        font-weight: 800;
        color: $secondary;
        font-size: 1rem;

        span {
          color: $text;
          font-weight: 600;
        }
        .name {
          font-weight: 800;
          color: $content;
        }
      }

      .seperator {
        width: 90%;
        border-top: 2px solid $text;
        margin-top: 40px;
      }
      .wrapper-forms {
        width: 40%;
      }
      .upload-image {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin-top: 50px;

        .profile-pic {
          height: 150px;
          width: 150px;
          border-radius: 50%;
          background-color: $secondary;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          font-size: 2rem;
          font-weight: 900;
          color: $content;
          font-family: "futurabold_italic";
        }

        .upload-btn {
          margin-top: 10px;
          outline: none;
          border: none;
          height: 55px;
          width: 5rem;
          border-radius: 8px;
          background-color: $content;
          font-size: 0.4rem;
          font-weight: 700;
          color: $primary;
          cursor: pointer;
          margin-left: 20px;
          i {
            margin-right: 5px;
            font: 20px;
          }
          &:hover {
            color: #043353;
            background-color: #7de89d98;
          }
        }

        .upload-image-form {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          padding-left: 20px;
          .upload-btn {
            margin-top: 20px;
            margin-left: 0;
          }
        }
      }

      .update-info {
        margin-top: 40px;
        width: 100%;
      }
      .update-password {
        margin-top: 40px;
        margin-bottom: 60px;
        width: 100%;
      }
    }
  }
  .container {
    .profile-info {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 100px;
      .profile-image {
        display: flex;
        height: 200px;
        width: 200px;
        justify-content: flex-end;
        align-items: center;
        border-radius: 50%;
        margin-left: 20px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22);
        .profile-pic {
          height: 200px;
          width: 200px;
          border-radius: 50%;
          box-shadow: 0 0 0 8pt #7de89da9;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          font-size: 3rem;
          font-weight: 900;
          color: $content;
          font-family: "futurabold_italic";
          &:hover {
            box-shadow: 0 0 0 8pt #7fffa580;
          }
        }
      }
      .profile-details {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 500px;
        padding-left: 30px;
        .profile-name {
          font-weight: 900;
          font-size: 50px;
          color: $primary;
        }
        .profile-address {
          font-weight: 600;
          font-size: 22px;
          color: $text;
        }

        .profile-edit {
          margin-top: 10px;
          outline: none;
          border: none;
          height: 65px;
          width: 200px;
          border-radius: 8px;
          background-color: $content;
          font-size: 18px;
          font-weight: 700;
          color: $primary;
          cursor: pointer;
          i {
            margin-right: 5px;
            font: 20px;
          }
          &:hover {
            color: #043353;
            background-color: #7de89d98;
          }
        }
        .cancel {
          background-color: $error;
          &:hover {
            color: $primary;
            background-color: #ff565598;
          }
        }
      }
    }
    .grid-main {
      height: 100%;
      width: 100%;
      padding: 0px 150px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 5px;
      row-gap: 5px;
      padding-top: 30px;
      padding-bottom: 40px;

      .favorite-box {
        height: 450px;
        width: 400px;
        padding: 20px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        .main-shoebox {
          height: 100%;
          width: 100%;
          cursor: pointer;
          .image-box {
            height: 70%;
            width: 100%;
            .shoe {
              width: 85%;
            }
          }
          .info-box {
            .price {
              font-size: 35px;
              color: $primary;
              margin-left: 10px;
              margin-right: 10px;
            }
            .from {
              font-size: 15px;
              color: $text;
              margin-right: 10px;
            }
            .stockX-logo {
              height: 35px;
              fill: $content;
            }
            .goat-logo {
              height: 25px;
              width: 80px;
              fill: $content;
            }
            .flightclub-logo {
              height: 20px;
              width: 80px;
              fill: $content;
            }
            .stadiumgoods-logo {
              height: 40px;
              width: 80px;
              fill: $content;
            }
          }
        }
      }
    }
  }
}
