$primary: #ffffff;
$secondary: #043353;
$secondary-light: #383c58;
$content: #7de89d;
$text: #b3c0cc;

.main-profile {
  height: 100%;
  width: 100%;
  .info {
    height: 60%;
    background-color: $secondary;
  }
  .fav {
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .container {
    .profile-info {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 100px;
      .profile-image {
        display: flex;
        height: 200px;
        width: 200px;
        justify-content: flex-end;
        align-items: center;
        border-radius: 50%;
        margin-left: 20px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22);
        .profile-pic {
          height: 200px;
          width: 200px;
          border-radius: 50%;
          box-shadow: 0 0 0 8pt #7de89da9;

          &:hover {
            box-shadow: 0 0 0 8pt #7fffa580;
          }
        }
      }
      .profile-details {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 500px;
        padding-left: 30px;
        .profile-name {
          font-weight: 900;
          font-size: 50px;
          color: $primary;
        }
        .profile-address {
          font-weight: 600;
          font-size: 22px;
          color: $text;
        }
        .profile-edit {
          margin-top: 10px;
          outline: none;
          border: none;
          height: 65px;
          width: 200px;
          border-radius: 8px;
          background-color: $content;
          font-size: 18px;
          font-weight: 700;
          color: $primary;
          cursor: pointer;
          i {
            margin-right: 5px;
            font: 20px;
          }
          &:hover {
            color: #043353;
            background-color: #7de89d98;
          }
        }
      }
    }
    .grid-main {
      height: 100%;
      width: 100%;
      padding: 0px 150px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 5px;
      row-gap: 5px;
      padding-top: 30px;
      padding-bottom: 40px;

      .favorite-box {
        height: 450px;
        width: 400px;
        padding: 20px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        .main-shoebox {
          height: 100%;
          width: 100%;
          cursor: pointer;
          .image-box {
            height: 70%;
            width: 100%;
            .shoe {
              width: 85%;
            }
          }
          .info-box {
            .price {
              font-size: 35px;
              color: $primary;
              margin-left: 10px;
              margin-right: 10px;
            }
            .from {
              font-size: 15px;
              color: $text;
              margin-right: 10px;
            }
            .stockX-logo {
              height: 35px;
              fill: $content;
            }
            .goat-logo {
              height: 25px;
              width: 80px;
              fill: $content;
            }
            .flightclub-logo {
              height: 20px;
              width: 80px;
              fill: $content;
            }
            .stadiumgoods-logo {
              height: 40px;
              width: 80px;
              fill: $content;
            }
          }
        }
      }
    }
  }
}
