$primary: #ffffff;
$secondary: #043353;
$secondary-light: #383c58;
$content: #7de89d;
$text: #b3c0cc;

.main-searchhero {
  height: 40%;
  width: 100%;
  background-color: $secondary;

  .container {
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-bottom: auto;

    .logo-title {
      height: 100px;
      fill: $primary;
      margin-bottom: 20px;

      .green {
        fill: $content;
      }
    }
    .goat {
      height: 60px;
    }
    .flightclub {
      width: 250px;
    }
    .brands {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: auto;
      height: 100%;
      width: 60%;

      svg {
        height: 100%;
        width: 100%;
        fill: $primary;
        margin-right: 60px;

        &:last-child {
          margin-right: 0px;
        }
        &:hover {
          fill: $content;
        }
      }
      .nike {
        margin-right: 50px;
      }
      .adidas {
        height: 100%;
        width: 80%;
      }
      .vans {
        height: 100%;
        width: 80%;
      }
      .converse {
        .cls-1 {
          fill: $secondary;
        }
        .cls-1,
        .cls-2 {
          fill-rule: evenodd;
        }
      }
      .reebok {
        height: 100%;
        width: 100%;
        .cls-1 {
          stroke: #141715;
          stroke-miterlimit: 10;
          stroke-width: 0.09px;
          fill-rule: evenodd;
        }
      }
      .newbalance {
        height: 100%;
        width: 100%;
        .cls-1 {
          fill-rule: evenodd;
        }
      }
    }
    .search {
      height: 70px;
      width: 40%;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
      position: absolute;
      border-radius: 30px;
      bottom: -35px;
      display: flex;
      justify-content: center;
      align-items: center;

      .search-input {
        height: 100%;
        width: 85%;
        border-radius: 30px 0px 0px 30px;
        border: none;
        outline: none;
        padding: 20px;
        font-size: 20px;
      }
      .search-submit {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 20px;
        height: 100%;
        width: 15%;
        border-radius: 0px 30px 30px 0px;
        outline: none;
        border: none;
        background-color: $content;
        color: $secondary;
        cursor: pointer;

        &:hover {
          background-color: $text;
          i {
            color: $primary;
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

.main-content-search {
  width: 100%;
  height: 100%;

  .container {
    height: auto;
    padding-top: 70px;
    padding-bottom: 40px;

    .search-heading {
      font-weight: 900;
      font-size: 40px;
      margin-bottom: 5px;
      color: $secondary;
      width: 100%;
      text-align: center;
    }

    .search-text {
      font-size: 25px;
      color: $text;
      width: 100%;
      text-align: center;
    }
    .trending {
      font-weight: 900;
      font-size: 35px;
      color: $secondary;
    }

    .grid-main {
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 20px;
      row-gap: 20px;

      .box {
        padding: 20px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 600px;
        font-size: 50px;
        @media screen and (max-width: 2150px) {
          height: 480px;
          font-size: 40px;
        }
        @media screen and (max-width: 1800px) {
          font-size: 38px;
          height: 450px;
        }
        @media screen and (max-width: 1400px) {
          font-size: 36px;
          height: 420px;
        }
        @media screen and (max-width: 1200px) {
          font-size: 33px;
          height: 400px;
        }
        @media screen and (max-width: 1050px) {
          font-size: 28px;
          height: 350px;
        }
        @media screen and (max-width: 992px) {
          font-size: 35px;
          height: 450px;
        }
        @media screen and (max-width: 850px) {
          font-size: 30px;
          height: 400px;
        }
        @media screen and (max-width: 768px) {
          font-size: 45px;
          height: 550px;
        }
        @media screen and (max-width: 600px) {
          font-size: 40px;
          height: 500px;
        }
        @media screen and (max-width: 500px) {
          height: 400px;
          font-size: 30px;
        }
        @media screen and (max-width: 400px) {
          height: 350px;
          font-size: 28px;
        }
        @media screen and (max-width: 300px) {
          height: 350px;
          font-size: 25px;
        }
      }
      @media screen and (max-width: 1900px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      @media screen and (max-width: 1700px) {
        grid-template-columns: 1fr 1fr 1fr;
      }
      @media screen and (max-width: 992px) {
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        row-gap: 0px;
      }
      @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        padding: 40px 90px;
      }
      @media screen and (max-width: 668px) {
        grid-template-columns: 1fr;
        padding: 40px 50px;
      }
      @media screen and (max-width: 576px) {
        padding: 40px 20px;
      }
      @media screen and (max-width: 428px) {
        padding: 40px 10px;
      }
      @media screen and (max-width: 324px) {
        padding: 20px 10px;
      }
    }
  }
}
