$primary: #ffffff;
$secondary: #043353;
$secondary-light: #383c58;
$content: #7de89d;
$text: #b3c0cc;
$red: #e94553;

.main-shoebox {
  background-color: $primary;
  height: 100%;
  width: 100%;
  border-radius: 7%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  transition: 200ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &:hover {
    .image-box {
      .brand {
        .brand-logo {
          fill: $content;
        }
      }
    }
  }

  .image-box {
    width: 100%;
    height: 60%;
    padding: 10px 20px;
    position: relative;
    background-color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;

    .shoe {
      width: 90%;
      height: 100%;
      user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      display: block;
    }
    .brand {
      position: absolute;
      height: 20%;
      width: 20%;
      right: 0;
      top: 0;
      margin-right: 20px;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;

      .brand-logo {
        height: 100%;
        width: 100%;
        fill: $secondary;
        user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
      }
      .vans {
        height: 82%;
        width: 82%;
      }
      .adidas {
        height: 85%;
        width: 85%;
      }
      .converse {
        height: 100%;
        width: 100%;
      }
      .reebok {
        .cls-1 {
          stroke: $primary;
          stroke-miterlimit: 10;
          stroke-width: 0.09px;
          fill-rule: evenodd;
        }
      }
    }
  }
  .info-box {
    height: 40%;
    width: 100%;
    background-color: $secondary;
    border-radius: 05 0%;
    padding: 25px 40px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

    .shoe-name {
      color: $text;
      font-size: 0.5em;
      height: 35%;
      width: 100%;
      margin-bottom: 10px;
    }
    .price-btn {
      height: 65%;
      width: 100%;
      display: flex;
      align-items: flex-end;
      margin-top: 10px;
      .price {
        color: $primary;
        font-family: "futurabold_italic";
        font-size: 1em;
        margin-right: auto;
      }
      .addbtn {
        margin-left: auto;
        height: 3em;
        width: 50%;
        outline: none;
        border: none;
        border-radius: 15px;
        font-weight: 900;
        color: $primary;
        background-color: $content;
        font-size: 0.5em;
        cursor: pointer;
        transition: 200ms ease-in-out;

        &:hover {
          background-color: $primary;
          color: $secondary;
        }
      }
    }
  }
  &:hover {
    transform: scale(1.02);
  }
}

.shoe-info-box {
  display: none;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #383c5875;
  z-index: 11;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;

  .info-box {
    height: 100%;
    width: 80%;
    background-color: $primary;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    margin: 50px;

    @media screen and (max-width: 2150px) {
      width: 85%;
      font-size: 50px;
    }
    @media screen and (max-width: 2000px) {
      font-size: 45px;
      .circle-btn {
        height: 1.3em !important;
        width: 1.3em !important;
      }
    }
    @media screen and (max-width: 1600px) {
      width: 90%;
      font-size: 38px;
    }
    @media screen and (max-width: 1500px) {
      width: 90%;
      font-size: 35px;
      height: 80%;
      .circle-btn {
        height: 1.1em !important;
        width: 1.1em !important;
      }
    }
    @media screen and (max-width: 1300px) {
      width: 95%;
      font-size: 35px;
    }
    @media screen and (max-width: 1280px) {
      width: 100%;
      font-size: 30px;
      .circle-btn {
        height: 0.9em !important;
        width: 0.9em !important;
      }
    }
    @media screen and (max-width: 1050px) {
      flex-direction: column;
      font-size: 30px;
      height: 100%;
      .shoe-images {
        width: 100% !important;
        height: 45% !important;
        .shoe {
          height: 100% !important;
          width: 70% !important;
        }
      }
      .shoe-infos {
        width: 100% !important;
        height: 55% !important;
      }
    }
    @media screen and (max-width: 992px) {
      font-size: 27px;
      .shoe-images {
        .shoe {
          height: 80% !important;
          width: 80% !important;
        }
      }
    }
    @media screen and (max-width: 850px) {
      font-size: 25px;
      margin: 0px 30px;
      .circle-btn {
        height: 0.7em !important;
        width: 0.7em !important;
        margin-bottom: 0px !important;
      }
    }
    @media screen and (max-width: 768px) {
      font-size: 23px;
      .shoe-images {
        .shoe {
          height: 80% !important;
          width: 90% !important;
        }
      }
    }
    @media screen and (max-width: 600px) {
      font-size: 22px;
      .shoe-images {
        .shoe {
          height: 70% !important;
          width: 90% !important;
        }
      }
    }
    @media screen and (max-width: 500px) {
      width: 100%;
      font-size: 20px;
      margin: 0px 10px;
      .shoe-images {
        .shoe {
          height: 70% !important;
          width: 100% !important;
          margin-bottom: 0px !important;
        }
        .circle-btn {
          height: 0.6em !important;
          width: 0.6em !important;
        }
      }
    }
    @media screen and (max-width: 400px) {
    }
    @media screen and (max-width: 300px) {
    }

    .shoe-images {
      height: 100%;
      width: 55%;
      background-color: $primary;
      position: relative;
      padding: 30px 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .brand-main {
        position: absolute;
        bottom: 30px;
        width: 100px;
        height: 80px;

        .brand-logo {
          height: 100%;
          width: 100%;
          fill: $secondary;
          user-drag: none;
          user-select: none;
          -moz-user-select: none;
          -webkit-user-drag: none;
          -webkit-user-select: none;
          -ms-user-select: none;
        }
        .vans {
          height: 82%;
          width: 82%;
        }
        .adidas {
          height: 85%;
          width: 85%;
        }
        .converse {
          height: 100%;
          width: 100%;
        }
        .reebok {
          .cls-1 {
            stroke: $primary;
            stroke-miterlimit: 10;
            stroke-width: 0.09px;
            fill-rule: evenodd;
          }
        }
      }
      .shoe {
        width: 100%;
        height: 65%;
        margin-bottom: 40px;
        user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
      }
      i {
        font-size: 40px;
        color: $secondary;
        position: absolute;
        left: 0;
        top: 0;
        margin-left: 30px;
        margin-top: 30px;
        cursor: pointer;

        &:hover {
          transform: scale(1.05);
        }
      }
      .btns {
        position: absolute;
        top: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22);
        border-radius: 20px;
        .circle-btn {
          height: 1.5em;
          width: 1.5em;
          border: none;
          outline: none;
          background-color: $secondary;
          cursor: pointer;
          &:first-child {
            border-top-left-radius: 50% !important;
            border-bottom-left-radius: 50% !important;
          }
          &:last-child {
            border-top-right-radius: 50% !important;
            border-bottom-right-radius: 50% !important;
          }
          &:hover {
            border-radius: 50%;
            transform: scale(2.1);
            background-color: $content;
          }
        }
      }
    }
    .shoe-infos {
      height: 100%;
      width: 45%;
      padding: 30px 60px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      background-color: $secondary;

      .shoename {
        font-family: "futurabold_italic";
        font-size: 1.25em;
        color: $primary;
        margin-bottom: 25px;
      }
      .form-favorite {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 30px;
        .addfav-btn {
          height: 3.5em;
          width: 60%;
          border-radius: 30px;
          outline: none;
          border: none;
          font-weight: 900;
          font-size: 0.5em;
          color: $primary;
          background-color: $content;
          cursor: pointer;
          transition: 100ms ease-in-out;
          margin-right: auto;

          &:hover {
            background-color: $text;
            color: $content;
          }
        }
        .select-seller {
          padding: 5px 15px;
          width: 25%;
          height: 1.2rem;
          border-radius: 8px;
          outline: none;
          border: none;
          background-color: $primary;
          transition: 200ms ease-in;
          font-size: 16px;
          font-weight: 700;
          color: $secondary;
          margin-right: auto;

          &:hover {
            box-shadow: 0 0 0 3.8pt #7de89d5e;
            border: 1px solid $text;
            background-color: $primary;
          }
          &:focus {
            box-shadow: 0 0 0 3.8pt #7de89d5e;
            border: 1px solid $text;
            background-color: $primary;
          }
        }
      }
      .remove {
        background-color: $red;

        &:hover {
          color: $primary;
        }
      }

      .resellers {
        width: 100%;

        .resellers-logo {
          width: 100%;
          height: 50%;
          padding: 10px 20px;
          display: flex;
          align-items: flex-start;
          justify-content: flex-end;
          padding-bottom: 0px;
          padding-left: 0px;
          a {
            height: 100%;
            width: 100%;
            margin-right: 20px;
            cursor: pointer;
            svg {
              height: 100%;
              width: 100%;
              fill: $primary;
            }
            &:last-child {
              margin-right: 0px;
            }
            &:hover {
              transform: scale(1.05);
              svg {
                fill: $content;
              }
            }
          }
        }
        .resellers-price {
          width: 100%;
          height: 40%;
          padding: 10px 20px;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          padding-left: 0px;

          h2 {
            margin-right: 20px;
            color: $content;
            font-size: 0.6em;
            font-style: italic;

            &:last-child {
              margin-right: 0px;
            }
          }
          .res-price {
            width: 100%;
          }
          .price-fav {
            font-size: 40px;
            margin-right: 15px;
            color: $secondary;
          }
          .from {
            font-weight: 500;
            color: $text;
            margin-right: 15px;
          }
        }
        .fav {
          height: 100%;
          width: 100%;
          align-items: center;

          .stockX-logo {
            height: 100%;
            fill: $content;
          }
          .goat-logo {
            height: 100%;
            width: 100px;
            fill: $content;
          }
          .flightclub-logo {
            height: 100%;
            width: 80px;
            fill: $content;
          }
          .stadiumgoods-logo {
            height: 100%;
            width: 80px;
            fill: $content;
          }
        }
      }
      .description {
        font-size: 0.4em;
        color: $text;
      }
      .fav-des {
        margin-top: 15px;
        color: $secondary-light;
        font-size: 18px;
      }
    }
  }
}
