$primary: #ffffff;
$secondary: #043353;
$secondary-light: #383c58;
$content: #7de89d;
$text: #b3c0cc;
$error: #ff5655;

.main-signup {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;

  .status-message {
    height: 50px;
    width: 100%;
    position: fixed;
    background-color: $error;
    font-weight: 600;
    font-size: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary;
  }

  .hypekicks-info {
    height: 100%;
    width: 40%;
    background-color: $secondary;
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .hype-name {
        font-family: "futurabold_italic";
        font-size: 80px;
        text-decoration: none;
        color: $content;
        span {
          font-family: "futuraextra_black";
          color: $primary;
          margin-right: 3px;
        }
      }
      .about-hypekicks {
        font-size: 30px;
        font-weight: 700;
        color: $text;
        width: 450px;
      }
    }
  }
  .hypekicks-signup {
    height: 100%;
    width: 60%;
    background-color: $primary;
    .sign-in {
      position: fixed;
      right: 25px;
      top: 50px;
      display: flex;
      font-size: 0.5rem;
      .member {
        margin-right: 0.1rem;
      }
      .sign-in-now {
        text-decoration: none;
      }
    }
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .signup-form {
        height: 70%;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .signup-bigtext {
          font-weight: 900;
          color: $secondary;
          width: 70%;
          margin-bottom: 20px;
          font-size: 1.2rem;
        }

        .name-username {
          width: 70%;
          display: flex;
          justify-content: center;
          align-items: center;
          .name-label {
            width: 50%;
            margin-right: 20px;
          }
          .username-label {
            width: 50%;
          }
        }
        label {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          width: 70%;
          font-weight: 700;
          font-size: 18px;
          color: $secondary;
          margin-bottom: 0;
        }
        input {
          padding: 5px 15px;
          width: 100%;
          height: 45px;
          border-radius: 8px;
          outline: none;
          border: none;
          margin-bottom: 20px;
          margin-top: 10px;
          background-color: $text;
          transition: 200ms ease-in;
          font-size: 16px;

          &:hover {
            box-shadow: 0 0 0 3.8pt #0433535e;
            border: 1px solid $text;
            background-color: $primary;
          }
          &:focus {
            box-shadow: 0 0 0 3.8pt #0433535e;
            border: 1px solid $text;
            background-color: $primary;
          }
        }
        .error {
          font-size: 0.7rem;
          text-align: left;
          color: rgb(236, 130, 130);
          margin: 15px 0px;
          width: 70%;
        }
        .submit {
          width: 200px;
          height: 60px;
          outline: none;
          border: none;
          background-color: $content;
          border-radius: 8px;
          font-weight: 700;
          font-size: 20px;
          color: $primary;
          cursor: pointer;

          &:hover {
            background-color: #7de89daf;
          }
        }
        .wrapper {
          width: 70%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          @keyframes rotating {
            from {
              -ms-transform: rotate(0deg);
              -moz-transform: rotate(0deg);
              -webkit-transform: rotate(0deg);
              -o-transform: rotate(0deg);
              transform: rotate(0deg);
            }
            to {
              -ms-transform: rotate(360deg);
              -moz-transform: rotate(360deg);
              -webkit-transform: rotate(360deg);
              -o-transform: rotate(360deg);
              transform: rotate(360deg);
            }
          }
          .loading {
            background-color: $secondary;
            width: 200px;
            height: 60px;
            outline: none;
            border: none;
            border-radius: 8px;
            font-weight: 700;
            font-size: 20px;
            color: $primary;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
              font-size: 1.2rem;
              color: $content;
              animation: rotating 1s linear infinite;
            }
          }
          .terms {
            height: 20px;
            width: 20px;
            cursor: pointer;
            &:hover {
              box-shadow: none;
              border: none;
              background-color: none;
            }
            &:focus {
              box-shadow: none;
              border: none;
              background-color: none;
            }
          }
          .terms-label {
            width: 100%;
            margin-left: 10px;
            font-weight: 500;
            font-size: 15px;
          }

          &:last-child {
            margin-top: 10px;
          }
        }
      }
    }
  }
}
